.header {
    width: 100%;
    height: 100px;
    display: flex;
}

.logo {
    flex: 1;
    border: 1px solid black;
}

.banner {
    flex: 4;
    border: 1px solid black;
}

.menu {
    width: 100%;
    height: 50px;
    border: 1px solid black;
    display: flex;
    justify-content: space-between;
}

.menu-left,.menu-right {
    display: flex;
}

.menu-item {
    height: 50px;
    border: 1px solid black;
    padding: 0 20px;
    line-height: 50px;
    &:hover{
        background-color: lightgray;
    }
}
.link{
    text-decoration: none;
    color:black;
    &:hover{
        color: blue;
    }
}

.main {
    width: 100%;
    height: 100vh;
    border: 1px solid black;
    display: flex;
}

.sidebar {
    flex: 1;
    height: 100%;
    border: 1px solid black;
}

.content {
    flex: 5;
    height: 100%;
    border: 1px solid black;
}